<% cancel_path ||= article.persisted? ? [:account, article] : [:account, :articles] %>

<%= form_with model: article, url: (article.persisted? ? [:account, article] : [:account, :articles]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :title, options: {autofocus: true} %>
      
      <%# Campo para seleção de múltiplas categorias %>
      <div class="field">
        <%= form.label :category_ids, "Categorias" %>
        <div class="mt-1">
          <% selected_categories = article.categories.pluck(:id) %>
          <%= select_tag 'article[category_ids][]', 
                         options_from_collection_for_select(@categories, 'id', 'name', selected_categories),
                         multiple: true,
                         class: 'select2 w-full',
                         data: { controller: 'select' } %>
          <p class="text-sm text-gray-500 mt-1">Selecione uma ou mais categorias para este artigo</p>
        </div>
      </div>
      
      <%= render 'shared/fields/trix_editor', method: :content %>
      <%= render 'shared/fields/buttons', method: :published %>
      <%= render 'shared/fields/image', method: :cover_image %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
