<% articles = articles.accessible_by(current_ability) %>
<% category = @category %>
<% context ||= category %>
<% collection ||= :articles %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, articles = pagy(articles, page_param: :articles_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless articles.any?}") %>
        <%= render "shared/limits/index", model: articles.model %>
      <% end %>

      <% box.table do %>
        <% if articles.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.title.heading') %></th>
                <th><%= t('.fields.cover_image.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/articles/articles/article', collection: articles %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == category && category.present? %>
            <% if can? :create, Articles::Article.new(category_ids: [category.id]) %>
              <%= link_to t('.buttons.new'), [:new, :account, category, :article], class: "#{first_button_primary(:article)} new" %>
            <% end %>
          <% else %>
            <% if can? :create, Articles::Article.new(team: current_team) %>
              <%= link_to t('.buttons.new'), [:new, :account, current_team, :articles_article], class: "#{first_button_primary(:article)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if articles.any? %>

          <% unless hide_back %>
            <% if context.present? %>
              <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:article)} back" %>
            <% else %>
              <%= link_to t('global.buttons.back'), [:account, current_team], class: "#{first_button_primary(:article)} back" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
